{% extends 'base.html' %}

{% block content %}



<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
		<p>
			{{ form.file.errors }}
			{{ form.file }}
		</p>
	<input type="submit" value="Submit">
</form>


<table table style="width:30%">
	<thead>
			<td>word</td>
		{% for column in outp.columns %}

			<td>{{ column }}</td>

			{% endfor %}
	</thead>
	
	<tbody>

	{% for row in outp.itertuples %}
	<tr>
		<td>{{ row.Index }}</td>
		<td>{{ row.words }}</td>
		<td>{{ row.tf }}</td>
		<td>{{ row.idf }}</td>
	</tr>
	{% endfor %}
	</tbody>
	
</table>




{% endblock %}
