{% extends 'base.html' %}

{% block content %}



<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		<p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
		<p>Please provide library_id</p>
		<p>{{ form.library_id }}</p>
		<!-- <input type="text" name="library_input" value=""> -->
		<p>
			{{ form.file.errors }}
			{{ form.file }}
		</p>
	<input type="submit" value="Submit">
</form>

<br>
<br>


<p>Enter library_id to load</p>
<input type="text" name="library_id_show" value="{{ library_id_show }}">

<a href="{% url 'home' %}?library_id={{library_id_show}}"><button type="">Submit</button></a>

<table table style="width:30%">
	<thead>
			<td>word</td>
			<td>count</td>
			<td>tf</td>
			<td>idf</td>


	</thead>
	
	<tbody>

	{% for row in outp.itertuples %}
	<tr>
		<td>{{ row.Index }}</td>
		<td>{{ row.words }}</td>
		<td>{{ row.tf }}</td>
		<td>{{ row.idf }}</td>
	</tr>
	{% endfor %}
	</tbody>
	
</table>




{% endblock %}
